@import "globales";
@import "colores-texto-nos";
@import "getmap";
@import "mixin";

#texto1nos {
  @include textonos;
}

#texto2nos {
  background-image: $gradiante-2;
  color: transparent;
  -webkit-background-clip: text;
}
#texto3nos {
  background-image: $gradiante-3;
  color: transparent;
  -webkit-background-clip: text;
}

#titulo-serv {
@extend #p_index ;
}

main {
    h2{background-image: linear-gradient(to right, #ffba08, #c47002);
        color: transparent;
        -webkit-background-clip: text;
      }
h1 {
    font-size: 2rem;
    background-image: linear-gradient(to right, #ffba08, #c47002);
    color: transparent;
    -webkit-background-clip: text;
  }
  p {
    padding: 1rem;
    font-size: 2rem;
    background-image: linear-gradient(to right, #ffba08, #fbb14f);
    color: transparent;
    -webkit-background-clip: text;
  }
  
}

footer img {
  height: 2rem;
}

#form1 {
  width: 60%;
  margin-left: 20%;
}

@media screen and (min-width: 768px) {
  @keyframes from-left {
    0% {
      opacity: 0;
      transform: translateX(-150px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  #imgmensaje{
    width: 20%;
  }
  
  header img {
    animation: from-left 1.5s ease;
  }
  header a {
    animation: from-left 1.5s ease;
  }

  #texto_index {
    font-size: 4rem;
  }
  #p_index {
    color: #ffba08;
    font-size: 3rem;
  }

  #com_tec {
    font-size: 1rem;
    margin-left: 5.2em;
    margin-right: 5.2em;
  }
  #com_app {
    font-size: 1rem;
    margin-left: 4.5em;
    margin-right: 4.5em;
  }

  #com_app1 {
    font-size: 1rem;
    margin-left: 5em;
    margin-right: 5em;
  }
  #com_com {
    font-size: 1rem;
    margin-left: 4em;
    margin-right: 4em;
  }
  #com_com1 {
    font-size: 1rem;
    margin-left: 2em;
    margin-right: 2em;
  }

  #form1 {
    width: 50%;
    margin-left: 25%;
  }
}

@media screen and (min-width: 1200px) {
  #carouselExampleCaptions {
    width: 60%;
    margin-left: 19.5%;
  }
  #form1 {
    width: 30%;
    margin-left: 35.5%;
  }
  #imgmensaje{
    width: 50%;
  }
}
